/node_modules/

/server/node_modules
/server/src/data
/server/src/public/data.json
/server/dist/
/server/storage.json
components/Chart/@rainbow-me/
components/Chart/@rainbow-me/animated-charts/node_modules
components/Chart/@rainbow-me/**
.env
env.ts
server/env.js
server/default.log

*.DS_Store
**/.DS_Store
yarn-error.log
.yarnrc
.npmrc

.expo-shared
.expo
ios
android
